body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:121px;
  width:304px;
  height:439px;
  overflow:hidden;
  visibility:hidden;
}
#u2319_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:439px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2319_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:171px;
  background:inherit;
  background-color:rgba(246, 248, 249, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:304px;
  height:171px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:221px;
  width:278px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:278px;
  word-wrap:break-word;
}
#u2325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:257px;
  width:304px;
  height:1px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:311px;
  width:304px;
  height:1px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:332px;
  width:278px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u2331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:382px;
  width:304px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:300px;
  word-wrap:break-word;
}
#u2333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:275px;
  width:278px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u2319_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:439px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2319_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:164px;
  background:inherit;
  background-color:rgba(246, 248, 249, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:304px;
  height:164px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:226px;
  width:278px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:278px;
  word-wrap:break-word;
}
#u2339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:382px;
  width:304px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:300px;
  word-wrap:break-word;
}
#u2341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:258px;
  width:304px;
  height:1px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:304px;
  height:1px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:333px;
  width:278px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u2347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:276px;
  width:278px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u2319_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:439px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2319_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:282px;
  background:inherit;
  background-color:rgba(246, 248, 249, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:304px;
  height:282px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:133px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:109px;
  width:278px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:278px;
  word-wrap:break-word;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:257px;
  width:304px;
  height:1px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:311px;
  width:304px;
  height:1px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:332px;
  width:278px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u2359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:382px;
  width:304px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:300px;
  word-wrap:break-word;
}
#u2361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:275px;
  width:278px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u2363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:304px;
  height:1px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:304px;
  height:1px;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:216px;
  width:278px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u2369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:159px;
  width:278px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0176FF;
  text-align:center;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u2372 {
  position:absolute;
  left:100px;
  top:224px;
  visibility:hidden;
}
#u2372_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background-image:none;
}
#u2372_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:74px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:24px;
  width:40px;
  height:40px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2372_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  visibility:hidden;
  background-image:none;
}
#u2372_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:74px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#FFFFFF;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:22px;
  width:32px;
  height:47px;
  font-size:40px;
  color:#FFFFFF;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2372_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  visibility:hidden;
  background-image:none;
}
#u2372_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:74px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#FFFFFF;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:22px;
  width:32px;
  height:47px;
  font-size:40px;
  color:#FFFFFF;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2372_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  visibility:hidden;
  background-image:none;
}
#u2372_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#FFFFFF;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:22px;
  width:32px;
  height:47px;
  font-size:40px;
  color:#FFFFFF;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:74px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2372_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  visibility:hidden;
  background-image:none;
}
#u2372_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:74px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#FFFFFF;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:22px;
  width:32px;
  height:47px;
  font-size:40px;
  color:#FFFFFF;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2372_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  visibility:hidden;
  background-image:none;
}
#u2372_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:74px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#FFFFFF;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:22px;
  width:32px;
  height:47px;
  font-size:40px;
  color:#FFFFFF;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2372_state6 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  visibility:hidden;
  background-image:none;
}
#u2372_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:74px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:22px;
  width:41px;
  height:56px;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:406px;
  width:320px;
  height:1px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2420_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:43px;
  height:6px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:40px;
  height:3px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
  background:inherit;
  background-color:rgba(248, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(182, 182, 182, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
  font-size:16px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:316px;
  word-wrap:break-word;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:10px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:5px;
  width:18px;
  height:10px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
.u2429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
.u2430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2428-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2428-2 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:0px;
  width:6px;
  height:6px;
}
#u2428-3 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:6px;
  height:6px;
}
#u2428-4 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:6px;
  height:6px;
}
#u2428-5 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:0px;
  width:6px;
  height:6px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:7px;
  width:34px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:3px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:7px;
  width:14px;
  height:8px;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:3px;
  width:53px;
  height:14px;
  font-size:12px;
  text-align:center;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u2437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:3px;
  width:33px;
  height:14px;
  font-size:12px;
  text-align:right;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#288BFE;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:34px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#288BFE;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:34px;
  width:11px;
  height:18px;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:511px;
  width:320px;
  height:57px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 49, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:519px;
  width:272px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:268px;
  word-wrap:break-word;
}
#u2448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(222, 220, 223, 1);
  -webkit-box-shadow:0px 1px 0px rgba(222, 220, 223, 1);
  box-shadow:0px 1px 0px rgba(222, 220, 223, 1);
  color:#232323;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:320px;
  height:44px;
  color:#232323;
}
#u2448_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(224, 224, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(222, 220, 223, 1);
  -webkit-box-shadow:0px 1px 0px rgba(222, 220, 223, 1);
  box-shadow:0px 1px 0px rgba(222, 220, 223, 1);
  color:#232323;
}
#u2448.mouseDown {
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:14px;
  width:310px;
  word-wrap:break-word;
}
#u2450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(222, 220, 223, 1);
  -webkit-box-shadow:0px 1px 0px rgba(222, 220, 223, 1);
  box-shadow:0px 1px 0px rgba(222, 220, 223, 1);
  color:#232323;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:320px;
  height:44px;
  color:#232323;
}
#u2450_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(224, 224, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(222, 220, 223, 1);
  -webkit-box-shadow:0px 1px 0px rgba(222, 220, 223, 1);
  box-shadow:0px 1px 0px rgba(222, 220, 223, 1);
  color:#232323;
}
#u2450.mouseDown {
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:14px;
  width:310px;
  word-wrap:break-word;
}
#u2452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:320px;
  height:44px;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u2452_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u2452.selected {
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:305px;
  word-wrap:break-word;
}
